
<h1>Carga de producto</h1>
<form id="productoForm">
    <label for="title">Nombre:</label>
    <br>
    <input type="text" name="title">
    <br><label for="price">Precio:</label>
    <br>
    <input type="text" name="price">
    <br><label for="thumbnail">Foto URL:</label>
    <br>
    <input type="text" name="thumbnail">
    <br>
    <br>
</form>
<button id="btnEnviar" class="btn btn-primary my-2">Enviar</button>

<div id="productosContainer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script type="module" src="javascripts/ecommerce_cli.js"></script>

