
<h1>Carga de producto</h1>
<form id="productoForm">
    <label for="title">Nombre:</label>
    <br>
    <input type="text" name="title">
    <br><label for="price">Precio:</label>
    <br>
    <input type="text" name="price">
    <br><label for="thumbnail">Foto URL:</label>
    <br>
    <input type="text" name="thumbnail">
    <br>
    <br>
</form>
<button id="btnEnviar" class="btn btn-primary my-2">Enviar</button>

<div id="productosContainer"></div>
<div>
    <h2>Chat</h2>
    <label>Email:   </label><input id="userEmail" type="text" />
    <label>Nombre:  </label><input id="userNombre" type="text" />
    <label>Apellido:</label><input id="userApellido" type="text" />
    <label>Edad:    </label><input id="userEdad" type="text" />
    <label>Alias:   </label><input id="userAlias" type="text" />
    <label>Avatar:  </label><input id="userAvatar" type="text" />

    <div id="chatContainer"></div>
    <input id="msgBox" type="text" />
    <button id="btnMsgEnv" class="btn btn-primary my-2">Enviar</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.js"></script>
<script type="module" src="javascripts/ecommerce_cli.js"></script>
<script type="module" src="javascripts/chat_cli.js"></script>
