doctype html
head
  title Vista
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
body
    h1 Vista de productos
    a.btn.btn-primary.my-2(href='/') Cargar producto
    .py-5.bg-light
        .container
            .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
                each val in values.length ? values : ['There are no values']
                    .col
                        .card.shadow-sm
                            img.bd-placeholder-img.card-img-top(src=val.thumbnail)
                            .card-body
                                p.card-text=val.title
                                .d-flex.justify-content-between.align-items-center
                                    p.text-muted="$"+val.price
