 
    <h1>Carga de producto</h1>
    <form class="px-3" action="/" method="post"><label for="title">Nombre:</label><br><input type="text"
            name="title"><br><label for="price">Precio:</label><br><input type="text" name="price"><br><label
            for="thumbnail">Foto URL:</label><br><input type="text" name="thumbnail"><br><br><input
            class="btn btn-primary my-2" type="submit" value="Enviar"></form><a class="btn btn-primary my-2"
        href="/productos">Vista de productos</a>