<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Example App</title>
</head>

<body>

    <h1>Carga de producto</h1>
    <form class="px-3" action="/" method="post"><label for="title">Nombre:</label><br><input type="text"
            name="title"><br><label for="price">Precio:</label><br><input type="text" name="price"><br><label
            for="thumbnail">Foto URL:</label><br><input type="text" name="thumbnail"><br><br><input
            class="btn btn-primary my-2" type="submit" value="Enviar"></form><a class="btn btn-primary my-2"
        href="/productos">Vista de productos</a>

</body>

</html>